In [393]:
from transformers import pipeline

In [394]:
df = pd.read_csv('/content/drive/MyDrive/AKAM Hackathon/summary_data.csv')

In [395]:
summarizer = pipeline('summarization')

No model was supplied, defaulted to sshleifer/distilbart-cnn-12-6 and revision a4f8f3e (https://huggingface.co/sshleifer/distilbart-cnn-12-6).
Using a pipeline without specifying a model name and revision in production is not recommended.

In [396]:
df['Bullets'][3]

'Education or tuition fees paid in school/college are not eligible under tuition assistance scheme. Any additional tuition taken outside the school or college is eligible for assistance Tuition incentive assistance of Rs.15,000/- per annum will be given to non-reserved category students who have secured 70% in class-10th and are studying in science stream in class-11th, 12th. Eligibility Criteria: 70 percent or above in class-10th. Assistance will be available only once in every year.'

In [397]:
df.head()

,Name,Bullets
0,Academic study plan,Applicant must belong to non-reserved category...
1,Study Abroad Loans,Students from unreserved category for higher s...
2,Meal Bill Assistance,Rs.1500 per month for 10 months for non-reserv...
3,Coaching assistance,Education or tuition fees paid in school/colle...
4,"Coaching help for JEE, GUJCET, NEET exam.",NaN

In [398]:
df['Name']=df['Name'].astype(str).str.lower()

In [399]:
name_query = "study Abroad Loans"
name_query_lower = name_query.lower()

In [400]:
for ind in df.index:
    # print(df['Name'][ind])
    if name_query_lower == df['Name'][ind]:
      article = df['Bullets'][ind]

print(article)

Students from unreserved category for higher studies abroad for higher studies abroad for M.B.B.S after Class-12 only, Graduation (even if degree after Diploma is valid) Post Graduation and Post Graduation Diploma or equivalent course known by other name
                                    For a total of Rs. 15.00 lakhs will be provided by the Foreign Study Loan Corporation. For loans with a total loan amount of Rs.7.50 lakh or less for the entire course, an encumbrance of one and a half times the value of the loan amount must be registered on the beneficiary's own or a relative's property. If the total loan amount of the entire course is more than Rs.7.50 lakhs, the amount equal to the total amount has to be mortgaged in favor of the immovable property corporation of himself or any other relative. Each borrower shall furnish five post-dated checks signed in favor of the Corporation In case of a total loan up to Rs.5.00 lakhs, it has to be paid in equal monthly installments in 5 (five) years after 1 year of completion of studies. In case of a loan of more than Rs.5.00 Lakhs, it has to be paid in equal monthly installments in 6 (six) years after 1 year of completion of studies. The repayable loan money will be credited first with interest. The borrower can repay the loan even before the fixed time limit

In [401]:
summary = summarizer(article , max_length = 150 , min_length = 50, do_sample = False)

In [402]:
summary

[{'summary_text': " For loans with a total loan amount of Rs.7.50 lakh or less for the entire course, an encumbrance of one and a half times the value of the loan amount must be registered on the beneficiary's own or a relative's property . In case of a loan of more than Rs.5.00 Lakhs, it has to be paid in equal monthly installments in 6 (six) years after 1 year of completion of studies ."}]

In [403]:
summary_f = summary[0]['summary_text']

In [404]:
import re
import pandas as pd

In [405]:
pat = ('(?<!Dr)(?<!Esq)\. +(?=[A-Z])')

In [406]:
summary_ff = re.sub(pat,'.\n',summary_f)

In [407]:
import pyperclip

In [408]:
lines = summary_ff.split("\n")

In [409]:

for i in range(len(lines)):
    lines[i] = "-" + lines[i]
  
# converts the list of different
# lines to single text
summary_ff = "\n".join(lines)

In [410]:
print(summary_ff)

- For loans with a total loan amount of Rs.7.50 lakh or less for the entire course, an encumbrance of one and a half times the value of the loan amount must be registered on the beneficiary's own or a relative's property .
-In case of a loan of more than Rs.5.00 Lakhs, it has to be paid in equal monthly installments in 6 (six) years after 1 year of completion of studies .

In [411]:
import pyperclip
def summaryyy():
  for ind in df.index:
    if name_query_lower == df['Name'][ind]:
      article = df['Bullets'][ind]
  
  summary = summarizer(article , max_length = 150 , min_length = 50, do_sample = False)
  summary_f = summary[0]['summary_text']
  pat = ('(?<!Dr)(?<!Esq)\. +(?=[A-Z])')
  summary_ff = re.sub(pat,'.\n',summary_f)
  lines = summary_ff.split("\n")
  for i in range(len(lines)):
    lines[i] = "-" + lines[i]
  
# converts the list of different
# lines to single text
  summary_ff = "\n".join(lines)


  return lines

In [412]:
print(summaryyy())

["- For loans with a total loan amount of Rs.7.50 lakh or less for the entire course, an encumbrance of one and a half times the value of the loan amount must be registered on the beneficiary's own or a relative's property .", '-In case of a loan of more than Rs.5.00 Lakhs, it has to be paid in equal monthly installments in 6 (six) years after 1 year of completion of studies .']